/* http://www.jquery2dotnet.com/ */
body {
    margin-top: 20px;
}

.glyphicon {
    margin-right: 5px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {
    margin-top: 0;
    font-size: 54px;
}

.progress {
    margin-bottom: 5px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

div.centered {
    margin-left: 2%;
    margin-top: 2%;
}